# Entornos virtuales
venv/
env/
.venv/


.env
google-credentials.json

# Base de datos local
db.sqlite3

# Archivos cacheados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos estáticos y multimedia locales
media/
staticfiles/